.react-calendar {
  background: #242424;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
}

.react-calendar__navigation__arrow {
  color: rgba(255, 255, 255, 0.7);
}

.react-calendar__navigation__label {
  color: rgba(255, 255, 255, 0.7);
}

button {
  color: rgba(255, 255, 255, 0.7);
}

button:hover {
  color: black;
}

.react-calendar__month-view__days__day--weekend {
  color: unset;
}

.react-calendar__tile--now {
  background: unset;
}

.react-calendar__tile--now:hover {
  background: unset;
}

.custom-day {
  background-color: green;
  /* Cambia el color según tus preferencias */
}

.calendar-image {
  width: 350px;
  background: 350px;
  margin-top: 10px;
}

#mensaje {
  width: 350px;
}



@media screen and (min-width: 800px) {
  .flex-calendar {
    display: flex;
    gap: 30px;
  }


  .calendar-image {
    width: 500px;
    background: 500px;
    margin-top: 0;
  }
}