/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Tu código CSS personalizado va aquí */

#root {
  max-width: 90vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #222;
}

.main-layout {
  padding: 50px;
}

.logo {
  width: 60vh;
  padding: 5vw;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.button {
  width: 10rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #256B49;
  cursor: pointer;
  transition: border-color 0.25s;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
